.footer {
    position: absolute;
    bottom: 5px;
    text-align: center;

    font-family: Merriweather, Georgia, serif;
    font-size: .7em; 
    font-weight: 300;
    width: 100%;
    line-height: 2.0rem;
    p {
        color: #202020;
    }
}
  